@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Poppins');


#conteudoprincipalLocal
{
	display: block;	
	width: 700px;	
	padding-left: 169px;
	margin: 10px;
}

img
{
	margin-top: 20px;
}
iframe
{
	margin: 20px 0px 0px 100px;/* cima, direita, baixo, esquerda*/ 
}
.gif
{
	margin-left: 360px;/* cima, direita, baixo, esquerda*/ 	
	margin-bottom: 20px;
}

#cruz
{
	margin: 15px 0px 20px 200px;
}